<a href="https://colab.research.google.com/github/oviedof1/Machine-Learning/blob/master/BitCoin_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Description: Predict price of bitcoin for the next 30 days

In [0]:
#import libraries
import pandas as pd
import numpy as np

In [4]:
#load data
from google.colab import files
uploaded = files.upload()

Saving BTC-USD.csv to BTC-USD.csv

In [8]:
#store data
BTC = pd.read_csv('BTC-USD.csv')
BTC.head(7)

         Date        Open        High  ...       Close   Adj Close    Volume
0  2016-01-01  430.721008  436.246002  ...  434.334015  434.334015  36278900
1  2016-01-02  434.622009  436.062012  ...  433.437988  433.437988  30096600
2  2016-01-03  433.578003  433.743011  ...  430.010986  430.010986  39633800
3  2016-01-04  430.061005  434.516998  ...  433.091003  433.091003  38477500
4  2016-01-05  433.069000  434.182007  ...  431.959991  431.959991  34522600
5  2016-01-06  431.855988  431.855988  ...  429.105011  429.105011  34042500
6  2016-01-07  430.010986  458.765991  ...  458.048004  458.048004  87562200

[7 rows x 7 columns]

In [13]:
#remove unwated columns
BTC.drop(['Date','High','Low','Close','Adj Close','Volume'],axis = 1, inplace=True)
BTC.head(7)

         Open
0  430.721008
1  434.622009
2  433.578003
3  430.061005
4  433.069000
5  431.855988
6  430.010986

In [17]:
#variable for predicting 'n' days into the future
prediction_days = 30

#create another colum which contains the prediction values shifted 'n' units up
BTC['Prediction'] = BTC[['Open']].shift(-prediction_days)
BTC.head(7)

         Open  Prediction
0  430.721008  378.292999
1  434.622009  369.350006
2  433.578003  372.920013
3  430.061005  374.645996
4  433.069000  370.174011
5  431.855988  388.898010
6  430.010986  386.588989

In [18]:
#show the last 7 rows of the new data set
BTC.tail(7)

             Open  Prediction
1588  9261.895508         NaN
1589  9936.162109         NaN
1590  9840.906250         NaN
1591  9591.168945         NaN
1592  8755.535156         NaN
1593  8610.385742         NaN
1594  8814.831055         NaN

In [22]:
#independent dataset

#convert dataframe to numpy array and drop the prediction column
X = np.array(BTC.drop(['Prediction'], 1))

#remove the last 'n' rows wheer 'n' is the last prediction_days
X = X[:len(BTC)-prediction_days]

print(X)

[[ 430.721008]
 [ 434.622009]
 [ 433.578003]
 ...
 [6867.44043 ]
 [6858.067871]
 [6965.616699]]

In [23]:
#create dependent dataset

#convert dataframe to numpy array
y = np.array(BTC['Prediction'])

#get all values except last 'n' rows
y = y[:-prediction_days]
print(y)

[ 378.292999  369.350006  372.920013 ... 8755.535156 8610.385742
 8814.831055]

In [0]:
#split into 80% training and 20% test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [28]:
#set the predictio_days_array = last 30 rows from original dataset
prediction_days_array = np.array(BTC.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[6843.281738]
 [6845.561523]
 [6640.454102]
 [7116.552734]
 [7092.291504]
 [7260.922363]
 [7186.873535]
 [6879.78418 ]
 [6879.44043 ]
 [7121.306152]
 [7434.181641]
 [7550.48291 ]
 [7570.13916 ]
 [7679.418945]
 [7796.970215]
 [7806.712402]
 [8797.669922]
 [8672.782227]
 [8869.057617]
 [8983.614258]
 [8895.745117]
 [8912.832031]
 [9007.441406]
 [9261.895508]
 [9936.162109]
 [9840.90625 ]
 [9591.168945]
 [8755.535156]
 [8610.385742]
 [8814.831055]]

In [30]:
from sklearn.svm import SVR

#create and train the Support Vector Maching (Regression) 'SVR' using radial basis function
svr_rbf = SVR(kernel = 'rbf', C=1e3, gamma = 0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [31]:
#test the model
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.7879576687165534

In [33]:
#print the predicted values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#print actual values
print(y_test)

[10268.46126046  3312.06621975  3928.13802415   448.18989055
  3915.33037312   829.47459457  6074.31318974  9658.87815059
  6222.34100778  7638.31933559  8429.45494272   932.77012442
  6711.42340816  8463.12205316  6562.77649937  1486.8327362
  9314.16170942  6220.66695384  8709.36581998   939.10426054
   902.04941817   639.5184615  10208.77396687  6346.33781193
  4310.6911624   8925.75629409 10517.47165766  8514.48417324
  8597.96438371  8597.08407989  8066.11336617  7027.58706291
  8822.62136679  1601.82835244  8257.5295556   8394.34159783
  8095.02489492   647.68428711  8742.78437808   428.05239487
  2722.88213276   613.96976742  7800.81095749  7423.87691265
  2819.82564466  6198.02767012  4133.41832658   748.45084417
  7617.75688429  8730.44774746  9195.77179992  6254.51642748
   600.97218199   435.0068721   2695.11303778  4615.33480686
  9163.91006972   708.76325748   745.65183905  8839.13751085
   443.035619    9013.56154657  8095.06599863  3514.92000196
  4633.24983535   451.02178122  4512.56904277  7723.1618217
   429.36970526  4609.65148852  4214.95367239  8588.17728677
  4144.95579614  8541.18468583  6586.40024333  9312.06239549
 10517.59617825  7396.83887421  6197.45398365   633.50319179
  4272.56053944  7877.68743068  8781.63582926  1258.76709938
  8804.5940229    615.97098779  2823.87588128  4497.18417339
  4332.70716013  8936.34034041  7432.72509937  2829.29912665
  7435.0286915   9152.49587942  7433.26410974  7737.55339138
  5998.77075192  3917.04623052  4688.66013492   451.76026222
  8717.16186342 10169.59415991   696.18101461  7199.83356906
  6969.84012694  6240.49834958  3914.11739591   609.76177558
   699.95864738   857.45562136   678.63264064  7151.40988895
  1222.09807688  2769.62765512  9260.37467229  6426.4126328
  3921.39482498  7461.40717228  8427.51369314  8936.03231637
  7650.98468186  7756.95477948  7019.89050099  7885.92037839
  4094.25273283 10173.80366451  4472.59334063  4180.5941221
  8493.88605857  4122.74017492  9607.72059387   818.17350831
  7820.73309948  1748.55053186  8392.88961961  8803.28191025
  7570.77868591  6230.67095196   438.82484897   615.20576313
 10369.36239211  3685.42951696  1251.36765842  2824.89484027
  8280.92883222   444.29824142   609.47296699   785.64962856
  7890.37607464  7900.41250943   455.8092868    716.76427475
  4686.97294196  2719.10876074  8825.06336185  3958.78315499
   426.3609109   4516.35933643  6251.32717748 10127.5667997
  8949.2094791   4617.47224706   432.65203887   664.23573127
   459.58901881  2767.85416004  6204.32176474  4341.94448664
   446.34673389  8588.98080623 10138.45748252  4227.67699046
   665.49966627  1230.08805401  7500.55935637   443.91818672
  1010.55491159  7427.51813313   866.94340117  3922.05226968
  8438.33524475  8827.55529684  4643.59509973  7449.69304778
   643.06107081  7225.63005274   624.85961685  6965.8839371
   708.68693568  1200.93198816  8695.87923104  4242.61653843
   434.37603295   701.16688973  8104.38417089   744.21353994
  3913.25617495  8348.49881376  2846.88888877  9338.00729434
  8382.07720527  9509.03469937  6282.86150385  7720.72557662
  3961.575963   10240.45491643   623.39402524  2467.8118653
  6214.62598704   445.02446538  8487.70983811  9028.94402729
  2713.45292723  8753.9495014   6216.79481898  7541.77433539
  8470.38197407   692.8532304   7867.06673162   450.29174949
   801.50520806   764.35981558  8497.76274272  8762.70973085
  6198.4936661    443.17201151  1577.24740814  8949.90760925
  8197.30633424   435.11041511  4663.7126253   9046.46029978
  8056.24771263  7703.99381276  7004.47247903  4011.02633367
 10003.70985128  3914.59775254  6583.21664844   436.55739413
  7805.82766391  2714.78239036   444.72087342  8345.12169151
   426.09643832  3150.86109947  1559.41185341   426.51454578
   610.04484878  3920.21711503  6363.01382706  8454.3121727
  8644.74586339   627.12291308   617.81035015  8561.15960325
  2713.61582775   611.36958321   673.66732532  1065.06332225
  8723.58738922  8737.52843398   458.53936603  2740.73365651
  6578.3239139    691.71638656  1154.50992286  3925.59693765
  8259.81294188  7729.24242136  4512.45788994  7987.7256304
  9263.23711907  7488.70111465  6446.85904977 10109.4590555
  4199.30009856  1225.56220265  8813.09105766   853.73895029
  3929.84263722  8846.96535479  8731.58893326  9535.91251715
   429.29752265  8882.87801992  7795.33156647  8420.8614487
  1074.36061936  4639.1198671   7371.59563291  3921.6668128
  6198.05396035  8940.43615364  8918.18111276  8287.48890012
  4106.05145518  7732.3635166   8472.05691708 10236.73300499
  1283.75492592   439.68066203  8401.87380794   944.92003393
  3920.28314635  8201.90289537   644.5988129   7166.44261341
   638.90865792  2716.6385172   7302.26228674  8682.5546438
  1674.40900505]

[10687.200195  2808.100098  3653.604004   382.114014  5524.600098
  1156.72998   5505.552246  8141.430176  4200.733398  6371.339844
  8597.308594   991.734985  9645.669922  9651.3125    6468.5
  1044.579956 14608.200195  7769.040039  8162.190918  1006.210022
   898.171997   630.825012 10135.700195  4024.464355  3832.040039
  8071.660156 10518.114258  7997.807129  9202.458008 10077.442383
  8210.985352  7768.682129 10237.299805  1026.640015 17462.099609
 10944.5       6843.470215   742.346008  8004.243652   421.872009
  1991.97998    598.590027  8074.02002   7434.181641  2499.580078
  3421.458252  4922.806152   780.646973  6301.069824  8941.445313
  6754.640137  6221.419922   575.554993   416.834015  2591.26001
  5583.740234  9214.650391   574.338989   768.075989 11381.020508
   763.927002 14588.5       7466.727051  2732.699951  5304.160645
   575.836975  5335.878906  7092.291504   455.759003  5298.154297
  5095.758789  8812.481445  5996.790039  8812.033203  6640.454102
  8705.19043  10353.931641  6486.049805  3497.554688   650.726013
  3557.311035  5982.316406  6647.698242  1120.650024  8243.402344
   602.960999  2807.439941  5312.494629  5289.917969 16642.400391
 16523.300781  2716.879883 11500.099609 10108.200195  9078.308594
  7499.549805  3742.195068  3903.758301  3591.090088   423.911987
  6931.31543  10393.900391   583.411987  7398.633789  6272.700195
  3886.294922  3652.37793    606.28302    588.797974   988.89801
   655.111023  7044.810059   976.72998   3880.040039  8599.919922
  6509.399902  3926.66333   7685.140137  9426.110352  6891.080078
  7414.709961  8082.295898  6090.100098  6583.430176  4133.703613
  8939.44043   3822.384766  6440.970215 15123.700195  5899.740234
 10903.400391   792.247009  8802.757813  1204.810059  7508.902344
 14266.099609  8055.206055  4015.070068   418.424011   600.807007
 11528.189453  4570.359863  1011.460022  2942.409912 13453.900391
   597.442993   606.242981   800.643982  8926.719727  7267.962891
   528.471008   577.760986  3725.446045  2538.709961  8076.228516
  3984.244873   449.40799   5236.135254  6480.839844 10621.180664
  7124.239746  4229.879883   374.645996   651.627014   585.445007
  3373.820068  6460.919922  5466.524414   414.464996  7345.375488
  7003.060059  3484.625977   751.833008  1267.469971 19106.400391
   437.916992   922.205017  6305.560059   775.177979  4122.470215
 10136.30957  14370.799805  3916.360107  7901.089844   639.083008
  8169.060059   623.424011  7260.922363   573.70697   1254.290039
  8315.665039  3631.509766   424.303986   664.921997  7469.72998
   780.005005  3903.384766  7922.146973  2897.629883  9855.891602
 10247.795898 11306.799805  6247.5       8671.212891  4229.339844
 10336.408203   607.005005  2404.030029  3612.046387   473.028992
 13952.400391  7303.81543   4066.100098  6437.319336  3880.780029
  6603.640137  9921.583008   654.492004  6330.77002    537.682007
   896.905029   770.039978  8440.119141  7397.134277 10198.599609
   433.437988   974.015015  9687.707031 10777.529297   372.920013
  5247.726074 17527.300781  6500.509766  3253.123047  7807.884277
  4229.810059 10415.362305  3845.091553  6337.040039   414.200989
  6719.38916   2763.23999    536.515015  7979.069824   417.889008
  4345.100098  1808.439941   459.121002   670.41803   3642.751953
  6739.649902  8811.936523  5017.831055   614.63501    609.254028
  6738.716797  2230.120117   650.598999   705.794006  1170.410034
  6467.253906  9389.820313   376.514008  2871.300049  6484.649902
   574.070984   919.810974  4032.691895  7371.310059  7352.720215
  3414.929443  5245.416504  8573.980469 10077.400391  6223.379883
 11372.200195  4189.310059  1223.22998   7263.         913.244019
  4000.256836  8140.933105  9324.787109 10916.34668    447.941986
  8159.27002   3243.997559  6495.290039  1026.119995  5279.471191
  9906.790039  3671.369873  8181.200195  8705.708008 10818.15625
  6340.910156  3931.048584  8661.760742  6799.290039 11385.052734
  1189.359985   407.656006  9316.016602   998.88501   4971.307617
  8246.037109   637.007996  9350.589844   657.161011  3420.399902
  5898.129883  8225.115234  1723.119995]

In [37]:
#print the model prediction for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

print()

#print actual price of BTC for the last 30 days
print(BTC.tail(prediction_days))

[8159.01924104 8172.95691832 6765.96630814 8849.77575308 8851.75469696
 8558.19962661 8777.60999349 8365.00221294 8363.24186694 8848.16734762
 7511.22217579 7028.54300098 7018.10460555 7384.3795687  8273.93812283
 8350.60313596 8804.64628072 8946.59110274 8565.25296398 8050.19687091
 8455.25050854 8380.49797559 7938.16974549 7541.69576217 8609.7958904
 8263.89420184 8114.80075958 8897.2412403  8865.14703376 8755.6744722 ]

             Open  Prediction
1565  6843.281738         NaN
1566  6845.561523         NaN
1567  6640.454102         NaN
1568  7116.552734         NaN
1569  7092.291504         NaN
1570  7260.922363         NaN
1571  7186.873535         NaN
1572  6879.784180         NaN
1573  6879.440430         NaN
1574  7121.306152         NaN
1575  7434.181641         NaN
1576  7550.482910         NaN
1577  7570.139160         NaN
1578  7679.418945         NaN
1579  7796.970215         NaN
1580  7806.712402         NaN
1581  8797.669922         NaN
1582  8672.782227         NaN
1583  8869.057617         NaN
1584  8983.614258         NaN
1585  8895.745117         NaN
1586  8912.832031         NaN
1587  9007.441406         NaN
1588  9261.895508         NaN
1589  9936.162109         NaN
1590  9840.906250         NaN
1591  9591.168945         NaN
1592  8755.535156         NaN
1593  8610.385742         NaN
1594  8814.831055         NaN